/* General Page Styles */
body {
    font-family: Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }


/* Container */
  .container {
    max-width: 1460px;
    min-height: 825px;
    background: white;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
/* Nav Bar */
    .nav-bar-studio-text{
        font-size: 25px;
        font-weight: normal;
        padding-left: 50px

    }

    .login-signup-button{
        /* padding: 12px 20px; */
        background-color:#b2cc55;
        border: none;
        border-radius: 70px;
        font-size: 13px;
        color: white;
        cursor: pointer;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .myBabbo-logo{
        font-size: 18px;
        font-weight: normal;
        padding-right: 50px
    }


/* Main Content (other than top) */
  .main-content {
    margin-top: 0px;
  }

/* Step Navigation START */
    /* Main Image Section */
        .image-memory-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .image-placeholder {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background-color: #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            color: #888;
            font-size: 2em;
        }

        .in-loving-memory {
            font-size: 16px;
            color: #555;
            text-align: center;
            margin-bottom: 5px;
        }


  .step_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffffff; /* Default- white button */
    color: #555; /* Default- grey text */
    font-size: 17px;
    font-weight: normal;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .step_buttons.active {
    background-color: #b2cc55; /* Active - green button*/
    color: #ffffff; /* Active - white text */
  }
  
/* Step Navigation END */


/* --- STEP 1 --- */
  
    /* Main Information Section */
    .main-information-header {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-align: left;
        margin-left: 120px;
    }
    
    /* Upload Main Image Section */
    .upload-main-image-section {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .upload-main-image-header {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
    
    .upload-icon-container {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: #b2cc55;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    
    .upload-icon {
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
    }
    
    /* Introductory Text Section */
    .introductory-text-section {
        text-align: center;
        margin-top: 55px;
    }
    
    .introductory-text-header {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
    
    .introductory-text {
        margin-top: 20px;
        font-size: 16px;
        color: #000000;
        border-bottom: 2px solid #b2cc55;
        display: block;
        width: 250px;
        margin: 0 auto;
        padding-bottom: 5px;
    }
    
    /* Title Section */
    .title-section {
        text-align: center;
        margin-top: 40px;
    }
    
    .title-header {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
    }
    
    .title-input {
        margin-top: 20px;
        font-Size: 16px;
        color: #929396;
        border: none;
        background-color: transparent;
        outline: none;
        text-align: center;
        border-bottom: 2px solid #b2cc55;
        display: block;
        width: 250px;
        margin: 0 auto;
        padding-Bottom: 5px;
    }
    
    /* Toggle Switch Section */
    .toggle-switch-section {
        text-align: center;
        margin-top: 30px;
    }
    
    .toggle-switch-label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-Size: 16px;
        color: #929396;
        position: relative;
    }



/* --- STEP 2 --- */
    /* ADD MORE LATER */





  
/* Back & Next Buttons START */
    .navigation-buttons {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        padding-left: 160px;
        padding-right: 160px;
    }

    
    button {
        padding: 12px 20px;
        background-color:#b2cc55;
        border: none;
        border-radius: 30px;
        font-size: 13px;
        color: white;
        cursor: pointer;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    button.back {
        background: #d8d8d8;
        color: #333;
    }
    
    button.next {
        background: #b2cc55;
        color: white;
    }
    
    button:hover {
        opacity: 0.8;
    }
/* Back & Next Buttons END */
  